.protikona{
	width: 100%;
	height: 100%;
}
.defterikona{
	width: 100%;
	height: 100%;
}

.xroma2{
	color: blue;
}

.xroma{
	color: green;
}
.xroma3{
	color: red;
}

.xroma4{
	color: orange ;
}

.xroma5{
	color: red;
}
.xroma6{
	color: purple;
}

.xroma7{
	color: red;
}
.xroma9{
	color: orange;
}
.xroma10{
	color: orange;
}
.xroma8{
	color: purple;
}
.xroma11{
	color: blue;
}
.xroma12{
	color: green;
}
.xroma13{
	color: lightblue;
}
.xroma14{
	color: lightgreen;
}